include idops/hmm/idops.hmm*
include idops/ressources/hmms/AppM1.hmm
include idops/ressources/hmms/CryM1.hmm
include idops/ressources/hmms/CryM2.hmm
include idops/ressources/hmms/CryM3.hmm
include idops/ressources/hmms/CryM4.hmm
include idops/ressources/hmms/CryM5.hmm
include idops/ressources/hmms/CryM6.hmm
include idops/ressources/hmms/CytM1.hmm
include idops/ressources/hmms/CytM2.hmm
include idops/ressources/hmms/CytM3.hmm
include idops/ressources/hmms/CytM4.hmm
include idops/ressources/hmms/GppM1.hmm
include idops/ressources/hmms/McfM1.hmm
include idops/ressources/hmms/MpfM1.hmm
include idops/ressources/hmms/MppM1.hmm
include idops/ressources/hmms/MppM2.hmm
include idops/ressources/hmms/MtxM1.hmm
include idops/ressources/hmms/PraM1.hmm
include idops/ressources/hmms/PraM2.hmm
include idops/ressources/hmms/PrbM1.hmm
include idops/ressources/hmms/PrbM2.hmm
include idops/ressources/hmms/SppM1.hmm
include idops/ressources/hmms/TppM1.hmm
include idops/ressources/hmms/VipM1.hmm
include idops/ressources/hmms/VpaM1.hmm
include idops/ressources/hmms/VpbM1.hmm
include idops/ressources/hmms/XppM22.hmm
include idops/ressources/hmms/XppM37.hmm
include idops/ressources/hmms/XppM55.hmm
include idops/ressources/hmms/XppM76.hmm
include idops/ressources/hmms/XppM77.hmm
include idops/ressources/seqdb/App.faa
include idops/ressources/seqdb/Cry.faa
include idops/ressources/seqdb/Cyt.faa
include idops/ressources/seqdb/Gpp.faa
include idops/ressources/seqdb/Mcf.faa
include idops/ressources/seqdb/Mpf.faa
include idops/ressources/seqdb/Mpp.faa
include idops/ressources/seqdb/Mtx.faa
include idops/ressources/seqdb/Pra.faa
include idops/ressources/seqdb/Prb.faa
include idops/ressources/seqdb/Spp.faa
include idops/ressources/seqdb/Tpp.faa
include idops/ressources/seqdb/Vip.faa
include idops/ressources/seqdb/Vpa.faa
include idops/ressources/seqdb/Vpb.faa
include idops/ressources/seqdb/Xpp.faa
